<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Diskuzní fórum{ifset #title} {include title|striptags}{/ifset}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="googlebot" content="noindex,nofollow,nosnippet,noarchive" />
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/{if $user->identity}{$user->identity->data['style']}{else}forum.css{/if}" media="screen" />
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <script src="{$basePath}/js/forum.js" charset="UTF-8" type="text/javascript"></script>
</head>
<body onload="document.getElementById('loading').style.visibility='hidden'">

<div id="loading" style="visibility:hidden;position:fixed;top:0px;width:99%;">
    <span class="loading">Stránka se načítá...</span>
</div>

<a name="top"></a>

<h1><img src="{$basePath}/images/rss.gif" width="16" height="16" border="0" alt="[F]">&nbsp;Diskuzní fórum{ifset #title} {include title|striptags}{/ifset}</h1>

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{include content}

<p>
    <hr noshade align="left" size="1">

    <span class="foot">
    Diskuzní fórum 2014<br />
    &copy; Tomáš Jacík. Za příspěvky odpovídají jejich autoři.
    </span>
</p>
<a name="end"></a>

</body>
</html>
