{block title}(nejnovějších {$perpage} příspěvků){/block}

{block content}
    <nav>
        <span>Přihlášen: <strong>{$user->getIdentity()->data['nick']}</strong></span>
        <ul>
            <li><a n:href="Thread:new">Nový příspěvek</a></li>
            <li><a n:href="Setting:">Nastavení</a></li>
            <li><a n:href="Homepage:search">Vyhledávání</a></li>
            <li><a n:href="Sign:out">Odhlásit</a></li>
        </ul>
    </nav>

    {include '../common/threads.latte'}
{/block}
