{block title}(nejnovějších {$perpage} příspěvků){/block}

{block content}
    <nav>
        Přihlášen: <b>{$user->getIdentity()->data['nick']}</b> |
        <a n:href="Thread:new">Nový příspěvek</a> |
        <a n:href="Setting:">Nastavení</a> |
        <a n:href="Homepage:search">Vyhledávání</a> |
        <a n:href="Homepage:">Obnovit</a> |
        <a n:href="Sign:out">Odhlásit</a>
    </nav>

    {include '../common/threads.latte'}
{/block}
