parameters:

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 1 year

services:
    router: App\Router\RouterFactory::createRouter

    - App\Model\MessageRepository
    - App\Model\ThreadRepository
    - App\Model\UserManager
