parameters:

application:
    errorPresenter:
        4xx: Error4xx
        5xx: Error5xx
    mapping: App\*Module\Presenters\*Presenter

session:
    expiration: 1 year

services:
    - App\Core\RouterFactory::createRouter

search:
    - in: %appDir%/Model
