body, table {
    font-family: Arial, sans-serif;
    font-size: 0.95em;
}

nav {
    margin-bottom: 1em;
}

footer {
    font-size: 78%;
    max-width: 760px;
    padding-top: 1em;
    margin: 1em 0;
}

h1 {
    letter-spacing: -0.035em;
    font-size: 1.25em;
    font-weight: bold;
}

h1 img {
    width: 16px;
    height: 16px;
}

hr {
    clear: both;
    text-align: left;
    max-width: 760px;
    height: 1px;
    border-width: 0;
    margin-left: 0;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

p {
    clear: both;
}

p.info {
    max-width: 780px;
}

th, td {
    white-space: nowrap;
}

.threads {
    border-spacing: 1px;
    width: 100%;
}

.threads thead th {
    text-align: left;
    padding: 0.1em 0.3em;
}

.unread, .unread a, .unread a:hover {
    font-weight: bold;
    font-size: 102%;
}

.read, .read a, .read a:hover {
    font-weight: normal;
    font-size: 0.95em;
}

.new {
    font-weight: bold;
}

.itemsl a, .itemsl a:hover, .itemss a, .itemss a:hover {
    text-decoration: none;
}

.message {
    color: inherit;
    padding: 0;
    margin: 2px;
    min-width: 780px;
    vertical-align: top;
    border-spacing: 0;
}

.autor {
    width: 123px;
    min-width: 123px;
    padding: 2px;
    vertical-align: top;
}

.zprava {
    padding: 0 0 0 10px;
    vertical-align: top;
    min-width: 760px;
    width: 637px;
}

.search {
    padding-bottom: 1em;
}

.search input {
    width: 350px;
}

pre {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    color: inherit;
    margin: 0;
    padding: 0;
    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.input {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.small {
    font-size: 78%;
}

.error {
    color: #D00;
    font-weight: bold;
}
