body, table {
    font-family: Arial, sans-serif;
    font-size: 0.95em;
}

nav {
    margin-bottom: 1em;
}

nav span:after {
    content: ' | ';
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav li {
    display: inline;
}

nav li:before {
    content: ' | ';
}

nav li:nth-of-type(1):before {
    content: '';
}

footer {
    font-size: 78%;
    max-width: 760px;
    padding-top: 1em;
    margin: 1em 0;
}

h1 {
    letter-spacing: -0.035em;
    font-size: 1.25em;
    font-weight: bold;
}

h1 img {
    width: 16px;
    height: 16px;
}

hr {
    clear: both;
    text-align: left;
    max-width: 760px;
    height: 1px;
    border-width: 0;
    margin-left: 0;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

p {
    clear: both;
}

p.info {
    max-width: 780px;
}

th, td {
    white-space: nowrap;
}

.threads {
    border-spacing: 1px;
    width: 100%;
}

.threads thead th {
    text-align: left;
    padding: 0.1em 0.3em;
}

.unread, .unread a, .unread a:hover {
    font-weight: bold;
    font-size: 102%;
}

.read, .read a, .read a:hover {
    font-weight: normal;
    font-size: 0.95em;
}

.new {
    font-weight: bold;
}

.itemsl a, .itemsl a:hover, .itemss a, .itemss a:hover {
    text-decoration: none;
}

.message {
    display: table;
    font-size: 0.95em;
    padding: 0;
    margin: 2px;
    min-width: 780px;
    vertical-align: top;
    border-spacing: 0;
}

.message-row {
    display: table-row;
}

.message-author {
    display: table-cell;
    width: 123px;
    min-width: 123px;
    padding: 2px;
    vertical-align: top;
}

.message-author strong {
    display: block;
    margin-bottom: 0.5em;
}

.message-author ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    font-size: 78%;
    line-height: 2em;
}

.message-author li img {
    vertical-align: middle;
}

.message-body {
    display: table-cell;
    padding: 0 0 0 10px;
    vertical-align: top;
    min-width: 760px;
    width: 637px;
}

.search {
    padding-bottom: 1em;
}

.search input {
    width: 350px;
}

pre {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    color: inherit;
    margin: 0;
    padding: 0;
    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.input {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    display: block;
    width: 100%;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.small {
    font-size: 78%;
}

.error {
    color: #D00;
    font-weight: bold;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    nav span {
        display: none;
    }

    .search input {
        width: 70%;
    }

    .threads th:nth-of-type(2),
    .threads td:nth-of-type(2),
    .threads th:nth-of-type(3),
    .threads td:nth-of-type(3),
    .threads th:nth-of-type(4),
    .threads td:nth-of-type(4) {
        display: none;
    }
    .threads td:nth-of-type(5) {
        width: 40%;
    }
    .threads th, td {
        white-space: normal;
    }

    .message {
        display: block;
        min-width: auto;
    }
    .message-row {
        display: block;
    }
    .message-author {
        display: block;
        min-width: auto;
        width: auto;
    }
    .message-author strong {
        display: inline;
        margin: 0;
    }
    .message-author div {
        float: right;
        margin: 2px 2px 0 2em;
        text-align: right;
    }
    .message-author div:nth-of-type(1) {
        min-width: 80px;
    }
    .message-author ul {
        display: none;
    }
    .message-row.nav .message-author {
        background: none;
        text-align: left !important;
        float: left;
        padding-bottom: 0.6em;
    }
    .message-body {
        display: block;
        min-width: auto;
        width: auto;
        padding: 0.5em 2px;
    }
    .message-row.nav .message-body {
        float: right;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .threads td:nth-of-type(1) {
        width: 37%;
    }
    .threads td:nth-of-type(2) {
        width: 27%;
    }
    .threads td:nth-of-type(3) {
        width: 5%;
    }
    .threads td:nth-of-type(4) {
        width: 16%;
    }
    .threads td:nth-of-type(5) {
        width: 15%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
