body, table {
    color: #fff;
    background-color: #005599;
}

footer {
    border-top: 1px solid #fff;
}

nav a {
    color: #bbbbee;
}

nav a:hover {
    color: #fff;
}

hr {
    color: #fff;
    background-color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #aa3333;
}

.threads thead th {
    background-color: #4455dd;
}

.itemsl {
    background-color: #ccddff;
}

.itemss {
    background-color: #ddeeff;
}

.unread, .unread a, .unread a:hover {
    color: #112299;
}

.read, .read a, .read a:hover {
    color: #333366;
}

.new {
    background-color: #4444ff;
    color: #ffffff;
}

.message-author {
    background-color: #002266;
}

.input {
    color: #000000;
    background-color: #ffffff;
}
