body, table {
    color: #000;
    background-color: #44eeee;
}

footer {
    border-top: 1px solid #000;
}

nav a {
    color: #3333aa;
}

nav a:hover {
    color: #aa3333;
}

hr {
    color: #000;
    background-color: #000;
}

a {
    color: #000;
}

a:hover {
    color: #aa3333;
}

.threads thead th {
    background-color: #66bbdd;
}

.itemsl {
    background-color: #99ffff;
}

.itemss {
    background-color: #bbffff;
}

.unread, .unread a, .unread a:hover {
    color: #112299;
}

.read, .read a, .read a:hover {
    color: #666666;
}

.new {
    background-color: #ff4444;
    color: #ffffff;
}

.message-author {
    background-color: #88ffff;
}

.input {
    color: #000000;
    background-color: #ffffff;
}
